.catalogs {
  color: $color-bg;

  &__item {
    margin-bottom: 20px;
  }

  &__title {
    font-family: $font-regular;
    font-size: 24px;
    line-height: 1.541666; //37px
    color: $font-color-strong;
  }

  &__description {
    font-family: $font-base;
    font-size: 14px;
    line-height: 1.285714; //18px
    color: $font-color-base;
  }

  &__link {
    border-top: 1px solid $color-border;
    font-family: $font-regular;
    font-size: 16px;
    line-height: 1; //16px
    color: $font-color-strong;
  }
}
