.example {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 38px;
  background-color: $color-bg;

  &__title {
    font-family: $font-regular;
    font-size: 24px;
    line-height: 1.541666; //37px
    color: $font-color-strong;
  }

  &__description {
    font-family: $font-base;
    font-size: 14px;
    line-height: 1.285714; //18px
    color: $font-color-base;
  }

  &__stats-item {
    border: 1px solid $color-border;

    &--sum {
      border: none;
      font-family: $font-regular;
      font-size: 14px;
      line-height: 1.428571; //20px
      color: $font-color-strong;
    }
  }

  &__stats-attr {
    font-family: $font-regular;
    font-size: 24px;
    line-height: 1; //24px
    color: $font-color-strong;
  }

  &__stats-value {
    font-family: $font-regular;
    font-size: 12px;
    line-height: 1; //24px
    color: $font-base;
  }

  &__slider-controls-label {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 1.25; //20px
    color: $font-color-strong;
  }
}
