.features {
  margin-bottom: 42px;

  &__title {
    font-family: $font-regular;
    font-size: 36px;
    line-height: 1.666666; //60px
    color: $font-color-strong;
  }

  &__description {
    font-family: $font-base;
    font-size: 14px;
    line-height: 1.285714; //18px
    color: $font-color-base;
  }
}
