.main-nav {
  border-bottom: 1px solid $color-border;

  &__link {
    border-top: 1px solid $color-border;
    font-family: $font-medium;
    color: $font-color-strong;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
  }
}
