.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include side-gaps;
  background-color: $color-bg;

  &__logo {
    padding-bottom: 35px;
    padding-top: 35px;
  }
}
