.product {
  border-top: 1px solid $color-border;
}

.product__title {
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.25; //20px
  color: $font-color-strong;
}

.product__attr-item {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 1.333333; //16px
  color: $font-color-base;

  &--adds {
    font-size: 14px;
    line-height: 1;
  }
}

.product__order-btn {
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.25; //20px
  color: $font-color-light;
  background-color: $color-main;
}
