.promo {
  padding-top: 28px;
  margin-bottom: 20px;
  background-color: $color-main;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;

  &__title {
    font-family: $font-regular;
    font-size: 36px;
    line-height: 1; //36px
    color: $font-color-light;
  }

  &__subtitle {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 1; //14px
    color: $font-color-light;
  }

  &__link {
    @include btn-green;
    font-size: 14px;
    line-height: 1.285714; //18px
  }
}
