.showcase {
  // margin-bottom: 30px;

  &--adds {
    @include side-gaps;
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid $color-border;
  }

  &__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    @include side-gaps;
    border: 1px solid $color-border;
  }

  &__more-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 25px;
  }

  &__text {
    margin-top: 0;
    font-family: $font-regular;
    font-size: 16px;
    line-height: 1.25; //20px
    color: $font-color-strong;
    text-transform: uppercase;
  }

  &__note {
    margin-top: 0;
    font-family: $font-base;
    font-size: 12px;
    line-height: 1.333333; //16px
    color: $font-color-base;
  }

  &__load-btn {
    width: 100%;
    @include btn('gray');
    // padding-bottom: 10px;
    // padding-top: 10px;
    // border: none;
    // font-family: $font-regular;
    // font-size: 16px;
    // font-weight: normal;
    // line-height: 1.25; //20px
    // text-transform: uppercase;
  }
}
