.showcase {
  margin-bottom: 40px;
  border-bottom: 1px solid $color-border;

  &__more {
    border: 1px solid $color-border;
  }

  &__text {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 1.25; //20px
    color: $font-color-strong;
  }

  &__note {
    font-family: $font-base;
    font-size: 12px;
    line-height: 1.333333; //16px
    color: $font-color-base;
  }

  &__load-btn {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 1.25; //20px
    color: $font-color-base;
    background-color: $color-bg;
  }
}
