@mixin field-typography {
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.125;
  color: $font-color-strong;
  text-transform: uppercase;
}

@mixin btn($font-color, $bg-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: $font-color;
  background-color: $bg-color;
}

@mixin side-gaps {
  padding-left: $side-gap-mobile;
  padding-right: $side-gap-mobile;

  @media (min-width: $tablet) {
    padding-left: $side-gap-tablet;
    padding-right: $side-gap-tablet;
  }

  @media (min-width: $desktop) {
    padding-left: $side-gap-desktop;
    padding-right: $side-gap-desktop;
  }
}
