$font-regular: "Oswald Regular", "Arial";
$font-medium: "Oswald Medium", "Arial";
$font-base:  "Arial", "Helvetica", sans-serif;
$font-color-strong: #111111;
$font-color-base: #444444;
$font-color-light: #ffffff;

$color-main: #63a73a;
$color-bg: #f2f2f2;
$color-border: #e6e6e6;
