$font-regular: "Oswald Regular";
$font-medium: "Oswald Medium";
$font-color-strong: #111111;
$font-color-base: #444444;
$font-color-light: #ffffff;

$color-main: #63a73a;
$color-bg: #f2f2f2;
$color-border: #e6e6e6;
